<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLvox1JnffIc-bQN-dnuFC4vm2SWOHPis</string>
	<key>GCM_SENDER_ID</key>
	<string>100000524333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jawad.Fitness-app</string>
	<key>PROJECT_ID</key>
	<string>fitness-fe817</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-fe817.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100000524333:ios:f29f5b2d059b3c9ba730a4</string>
</dict>
</plist>